<!DOCTYPE html>
<html>
<head>
  <title>CarinaSite</title>
  <%= stylesheet_link_tag    "carina_site/application", media: "all" %>
  <%= javascript_include_tag "carina_site/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
